{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma'lumot</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="card">
                    <div class="logo"><img src="{% static 'img/logo.png' %}" alt=""></div>
                    <div class="link">
                        <a href="index.html">Asosiy</a>
                        <a href="malumot.html">Ma'lumot</a>
                        <a href="sotuv.html">Sotuv</a>
                        <a href="yangilik.html">Yangiliklar</a>
                        <a href="havo.html">Ob-havo</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="container">
                <div class="card">
                    
                    <div class="comment">
                        <input type="text" placeholder="Savolingizni yozib qoldiring ...">
                        <button>Yuborish</button>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="card">

                <div class="search">
                    <input type="text" placeholder="Qidirish">
                </div>

                <div class="title">
                    <h1>Foydali ma'lumotlar</h1>
                </div>

                <div class="wrapper">
                    <div class="info">
                        <h1>Bug’doy unib chiqish davri qancha?</h1>
                        <p>Bug’doy unib chiqish davri. Bug‘doy va arpa urug‘larining biologik xususiyatlari, tuproq harorati, unumdorligi, namligiga qarab unib chiqish davri 6-15 kunni tashkil etadi. G‘alla ekinlari unib chiqishi uchun, eng kam harorat 60 C bo‘lishi kerak. Bundan yuqori haroratda ularning unib chiqishi tezlashadi. Samarali harorat yig‘indisi (100 C dan yuqori), 150-1600 C ni tashkil etadi. Bu davrda har gektar yerga 200 m3 suv talab qilinadi. Unib chiqish davri, birinchi barg hosil bo‘lishi bilan tugallanadi.</p>
                        <span></span>
                    </div>
                    <div class="info">
                        <h1>Bug’doy unib chiqish davri qancha?</h1>
                        <p>Bug’doy unib chiqish davri. Bug‘doy va arpa urug‘larining biologik xususiyatlari, tuproq harorati, unumdorligi, namligiga qarab unib chiqish davri 6-15 kunni tashkil etadi. G‘alla ekinlari unib chiqishi uchun, eng kam harorat 60 C bo‘lishi kerak. Bundan yuqori haroratda ularning unib chiqishi tezlashadi. Samarali harorat yig‘indisi (100 C dan yuqori), 150-1600 C ni tashkil etadi. Bu davrda har gektar yerga 200 m3 suv talab qilinadi. Unib chiqish davri, birinchi barg hosil bo‘lishi bilan tugallanadi.</p>
                        <span></span>
                    </div>
                    <div class="info">
                        <h1>Bug’doy unib chiqish davri qancha?</h1>
                        <p>Bug’doy unib chiqish davri. Bug‘doy va arpa urug‘larining biologik xususiyatlari, tuproq harorati, unumdorligi, namligiga qarab unib chiqish davri 6-15 kunni tashkil etadi. G‘alla ekinlari unib chiqishi uchun, eng kam harorat 60 C bo‘lishi kerak. Bundan yuqori haroratda ularning unib chiqishi tezlashadi. Samarali harorat yig‘indisi (100 C dan yuqori), 150-1600 C ni tashkil etadi. Bu davrda har gektar yerga 200 m3 suv talab qilinadi. Unib chiqish davri, birinchi barg hosil bo‘lishi bilan tugallanadi.</p>
                        <span></span>
                    </div>

                </div>   
                
                


            </div>
        </div>
    </main>


    <!-- bottom qismi -->
    <div class="bottom-page">
        <div class="container">
            <div class="card">
                <div class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </div>
                <div class="link">
                    <a href="index.html">Asosiy</a>
                    <a href="malumot.html">Ma'lumot</a>
                    <a href="sotuv.html">Sotuv</a>
                    <a href="yangilik.html">Yangiliklar</a>
                    <a href="havo.html">Ob-havo</a>
                </div>
                <div class="icon">
                    <a href="#">
                        <img src="{% static 'img/fecabook.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/twitter.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/instagram.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/send.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>