{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangiliklar bo'limi</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="card">
                    <div class="logo"><img src="{% static 'img/logo.png' %}" alt=""></div>
                    <div class="link">
                        <a href="index.html">Asosiy</a>
                        <a href="malumot.html">Ma'lumot</a>
                        <a href="sotuv.html">Sotuv</a>
                        <a href="yangilik.html">Yangiliklar</a>
                        <a href="havo.html">Ob-havo</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-main">
            <div class="container">
                <div class="card">
                    
                    <div class="comment">
                        <input type="text" placeholder="Bu yerga yozing  ...">
                        <button>Qidirish</button>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <div class="news">
        <div class="container">
            <div class="card">
                <div class="item">
                    <div class="info">
                        <div class="title">
                            <h1>O‘zbekistonda sug‘oriladigan yerlarning qariyb 53 foizi sho‘rlangani ma’lum bo‘ldi.</h1>
                        </div>
                        <div class="text">
                            <p>
                                So‘nggi yillarda olib borilgan tadqiqotlarga ko‘ra, respublikadagi sug‘oriladigan yerlarning qariyb 53 foizi turli darajada sho‘rlangan. Ikki yil oldin bu ko‘rsatkich 45 foiz ekani ma’lum qilingandi. Bu haqda Senatning 47 yalpi majlisida ma’lum qilindi. Jumladan, ushbu qonun bilan yer fondining barcha toifalaridagi tuproqning unumdor va tuproq hosil qiluvchi qatlamlari tuproqni muhofaza qilish ob’ekti etib belgilanmoqda. Shuningdek, qonunda tuproqni muhofaza qilish va uning unumdorligini oshirish sohasidagi davlat nazorati, yer egalarining, yerdan foydalanuvchilarning va yer uchastkalari ijarachilarining huquq va majburiyatlari mustahkamlanmoqda.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="info">
                        <div class="title">
                            <h1>O‘zbekistonda sug‘oriladigan yerlarning qariyb 53 foizi sho‘rlangani ma’lum bo‘ldi.</h1>
                        </div>
                        <div class="text">
                            <p>
                                So‘nggi yillarda olib borilgan tadqiqotlarga ko‘ra, respublikadagi sug‘oriladigan yerlarning qariyb 53 foizi turli darajada sho‘rlangan. Ikki yil oldin bu ko‘rsatkich 45 foiz ekani ma’lum qilingandi. Bu haqda Senatning 47 yalpi majlisida ma’lum qilindi. Jumladan, ushbu qonun bilan yer fondining barcha toifalaridagi tuproqning unumdor va tuproq hosil qiluvchi qatlamlari tuproqni muhofaza qilish ob’ekti etib belgilanmoqda. Shuningdek, qonunda tuproqni muhofaza qilish va uning unumdorligini oshirish sohasidagi davlat nazorati, yer egalarining, yerdan foydalanuvchilarning va yer uchastkalari ijarachilarining huquq va majburiyatlari mustahkamlanmoqda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- bottom qismi -->
    <div class="bottom-page">
        <div class="container">
            <div class="card">
                <div class="logo">
                    <img src="{% static 'img/logo.png'%}" alt="">
                </div>
                <div class="link">
                    <a href="index.html">Asosiy</a>
                    <a href="malumot.html">Ma'lumot</a>
                    <a href="sotuv.html">Sotuv</a>
                    <a href="yangilik.html">Yangiliklar</a>
                    <a href="havo.html">Ob-havo</a>
                </div>
                <div class="icon">
                    <a href="#">
                        <img src="{% static 'img/fecabook.svg'%}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/twitter.svg'%}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/instagram.svg'%}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static 'img/send.svg'%}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>